<template>
  <div
    class="bell elevation-5"
    :style="{
      'width': `${width}px`
    }"
    @click="toggle"
  >
    <div class="bell__icon">
      <v-icon color="white" size="20">{{ringing ? 'fas' : 'far'}} fa-bell</v-icon>
    </div>
    <div class="bell__name">
      Звенит звонок
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import {Howl, Howler} from 'howler';

type BellComponentData = {
  width: number,
  ringing: boolean,
  sound: Howl,
  timerID: null | NodeJS.Timeout
}

export default Vue.extend({
  name: "Bell",

  data(): BellComponentData {
    return {
      width: 50,
      ringing: false,
      sound: new Howl({
        src: ['/bell.mp3']
      }),
      timerID: null
    }
  },

  methods: {
    toggle(): void {
      if (this.ringing) {
        this.turnOff();
      }
      else {
        this.turnOn();
      }
    },

    turnOn() {
      this.ringing = true
      let width: number = 0;
      [...this.$el.children].forEach((dom: Element) => {
        width += dom.scrollWidth;
      })
      this.width = width + 25;
      this.sound.play();
      this.timerID = setTimeout(() => {
        this.turnOff();
      }, 5300)
    },

    turnOff() {
      this.ringing = false
      this.width = 50
      this.sound.stop()
      clearTimeout(this.timerID);
      this.timerID = null;
    },
  }
})
</script>

<style lang="scss" scoped>
  .bell {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
    width: 50px;
    height: 50px;
    transition: width .5s ease;
    background-color: map-get($blue, 'darken-1');
    border-radius: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }

  .bell__icon {
    color: white;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bell__name {
    white-space: nowrap;
    color: white;
    font-size: 20px;
  }
</style>
