<template>
  <div class="clock">
    <div class="clock__textWrapper">
      <div class="clock__text">{{ status }}</div>
    </div>
    <div class="clock__mainWrapper">
      <div class="clock__main">{{ mainTimeString }}</div>
    </div>
    <div class="clock__footerWrapper">
      <div class="clock__footer">{{ footerTimeString }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: "Clock",

  created(): void {
    this.$store.commit('clock/START');
  },

  computed: {
    status(): string | null {
      return this.$store.state.clock.status;
    },

    mainTimeString(): string | null {
      return this.$store.state.clock.mainTimeString;
    },
    
    footerTimeString(): string | null {
      return this.$store.state.clock.footerTimeString;
    },
  }
})
</script>

<style lang="scss" scoped>
  .clock {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: map-get($grey, 'darken-4');
  }

  .clock__textWrapper {
    height: 41px;
  }

  .clock__text {
    font-size: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock__mainWrapper {
    height: 120px;
    margin: 15px 0;
  }

  .clock__main {
    font-size: 145px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock__footerWrapper {
    height: 48px;
  }

  .clock__footer {
    font-size: 39px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>