<template>
  <div class="index">
    <Clock />
    <Bell />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Clock from '~/components/Clock.vue'
import Bell from '~/components/Bell.vue'

export default Vue.extend({
  name: 'Index',

  components: {
    Clock,
    Bell
  },

  created(): void {
    this.$store.commit('schedule/PREPARE_STAGES');
  }
})
</script>

<style lang="scss" scoped>
  .index {
    width: 100%;
    height: 100%;
    background-color: map-get($grey, 'lighten-3');
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
